/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
}

.container {
  padding: 3rem;
  margin: 10% auto;
  max-width: 100rem;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-1,
.card-2,
.card-3 {
  color: hsla(0, 0%, 100%, 0.75);
  padding: 5.4rem;
}

.card-1 {
  background-color: hsl(31, 77%, 52%);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 10px 0 0 10px;
}
.card-2 {
  background-color: hsl(184, 100%, 22%);
}
.card-3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}

.logo {
  margin-bottom: 3.2rem;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 3.2rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

p {
  line-height: 1.8;
  margin-bottom: 10rem;
}

a:link,
a:visited {
  text-decoration: none;
  background-color: white;
  padding: 1.2rem 2rem;
  border-radius: 999rem;
  transition: all, 1s;
}

.card-1 a {
  color: hsl(31, 77%, 52%);
}
.card-2 a {
  color: hsl(184, 100%, 22%);
}
.card-3 a {
  color: hsl(179, 100%, 13%);
}

a:hover,
a:active {
  background-color: inherit;
  box-shadow: 0 0 0 1px white inset;

  color: white;
  cursor: pointer;
}

.attribution {
  color: black;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  padding: 0;
}

@media (max-width: 822px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .card-1 {
    border-radius: 10px 10px 0 0;
  }
  .card-3 {
    border-radius: 0 0 10px 10px;
  }
}
